$primaryColor: #18202e;
$black: #000;
$white: #fff;
$lightGrey: #ababab;
$dashboardBg: rgba(14, 22, 34, 0.02);
$scroll-bar-color: #d1d3de;
$scroll-thumbhover: #555;
$scroll-track: #f1f1f1;
$dropzoneBackground:#E1E3E4;
$lightBlack: #292d2d;
$blackShade: #404040;
$success: #3cb371;
$warning: #ffc107;
$error:#ff0000;