@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

th, td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}

th {
  text-align: left;
}

table {
  border-spacing: 5px;
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #757373;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
tr:hover {background-color: #ddd;}
 
.paginate-ctn{
    display: flex;
}
.round-effect{
  color:#757373;
  cursor:pointer;
/*   border:1px solid red; */
  
  font-size:16px;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  padding-top:9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin:5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   text-decoration: none;
}

.round-effect:hover{
  text-decoration: none;
  background:#757373;
  color:#FFF;
}
.round-effect:hover a {
  text-decoration: none;
  color:#FFF;
}

.active{
  background:#757373;
  color:#FFF;
}
a:link {
  text-decoration: none;
  color:#757373;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
    right: 10px;
    top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.open-model{
  display:block;
}
.close-model{
  display: none;
}

.add-btn{
  position: absolute;
  top: -56px;
  right: 34px;
}

.cur-pointer{
  cursor:pointer;
}